@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
html,body{font-size:62.5%;}
body{margin:0;padding:0;font-family:'Raleway',sans-serif;font-size:1.6rem;color:#000;line-height:1.4;}
body p{padding: 0;}
body p.line-height-custom{line-height:1.6;}
body a{color:#000;text-decoration:none;cursor:pointer;}
    
.home{font-family: Raleway,sans-serif;background: #fff;position: relative;z-index: 9;}
.home .align-self-center{padding: 120px 0;}
.home .mt15{margin-top:15px;}
.home .mt20{margin-top:20px;}
.home .mt30{margin-top:30px;}
.home .font-size-14{font-size:1.4rem;}
.home .font-size-18{font-size:1.8rem;}
.home .font-size-20{font-size:2rem;}
.home .font-size-22{font-size:2.2rem;}
.home .font-size-26{font-size:2.6rem;}
.home .font-size-36{font-size:3.6rem;}
.home .font-weight-500{font-weight:500 !important;}
.home .font-weight-600{font-weight:600 !important;}
.home .clearfix{clear: both;display: table;width: 100%;}
.home .form-control:focus,.form-control:active,.form-control:hover{box-shadow:none;outline:0;}
.home .header{background:#fff;padding:46px 0;transition: all 0.2s ease;-webkit-transition: all 0.2s ease;top:-200px;position: static;}
.home .header .navbar-default{position:relative;    background-color: transparent;border: none; margin: 0;}
.home .header .navbar-default:before{content:'';background:url(../../../assets/logographics.png) no-repeat;position:absolute;background-size:contain;width:500px;height:430px;left:-200px;top:-30px;}
.home .header .main-navigation{margin-left: 30px;}
.home .header .main-navigation>li>a{font-size:2rem;font-weight:600;color:#000000;padding: 0;}
.home .header .main-navigation>li>a:hover,
.home .header .main-navigation>li>a:active,
.home .header .main-navigation>li>a:focus,
.home .header .main-navigation>li.active>a{
	background-color: transparent !important;color: #000 !important;
}
.home .header .main-navigation>li{padding:35px 16px;}
.home .header .btn-signin{padding:0; height:40px;border:2px solid #00ffcb;border-radius:20px;font-size:1.5rem;line-height:38px;border-bottom-left-radius:0;text-transform:uppercase;overflow:hidden;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0);position:relative;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:0.3s;transition-duration:0.3s;margin: 30px 0;}
.home .header .btn-signin a{padding:0 50px;line-height: 40px;display: block;color:#00ffcb;}
.home .header .btn-signin:before{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#00ffcb;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;}
.home .header .btn-signin a:hover{color:#fff;border-color: #00ffcb !important;background-color: transparent !important; }
.home .header .btn-signin:hover:before{-webkit-transform:scaleX(1);transform:scaleX(1);}
.header.stuck-header{
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 99;
    padding: 0;
    box-shadow: 0px 0px 6px rgba(0,0,0, 0.5);
}
.home .header.stuck-header .navbar-default:before{
	content: none;
}

/* Banner Css Start */
.home .banner{background:url('../../../assets/bannerbg.png') no-repeat;background-size:cover;background-position:bottom center;padding:75px 0;}
.home .banner .banner-title{font-size:4rem;color:#000000;margin-bottom:40px;line-height:1;text-align:center;}
.home .banner .category-ul{margin:60px 0;}
.home .banner .category-ul li{display:inline-block;margin:0 30px;}
.home .category-container{position:relative;}
.home .banner figure{margin-top: 20px;}
.home .banner figure img{box-shadow: 0px 25px 45px 0px rgba(0, 255, 169, 0.12);}
.home .category-container .comming-soon{background:url('../../../assets/coming-soon.png') no-repeat;background-size:contain;width:140px;height:50px;display:block;position:absolute;bottom:-20px;left:-10px;}
.home .collaborating-form{text-align:center;}
.home .collaborating-form .text-email{font-size:1.8rem;height:72px;border-radius:50px;padding:0 50px;padding-right:100px;background:#007f57;border:2px solid #fff;color:#fff;}
.home .collaborating-form .input-btn-grp{position:relative;width:400px;max-width:100%;margin:15px auto 15px;}
.home .collaborating-form .btn-go{position:absolute;top:50%;right:15px;transform:translateY(-50%);height:45px;}
.home .collaborating-form ::-webkit-input-placeholder{color:#fff;}
.home .collaborating-form ::-moz-placeholder{color:#fff;}
.home .collaborating-form :-ms-input-placeholder{color:#fff;}
.home .collaborating-form :-moz-placeholder{color:#fff;}

/* Project Page */
.home .project-page{position:relative;padding:70px 0;background:url(../../../assets/projectbg.png) no-repeat;z-index:-1;margin-top:-350px;padding-top:350px;background-position:top -500px right -100px;background-size:cover;}
.home .project-page:before{content:'';position:absolute;width:100%;height:100%;top:0;background-image:-moz-linear-gradient(0deg,rgb(0,255,155) 0%,rgb(0,255,219) 100%);background-image:-webkit-linear-gradient(0deg,rgb(0,255,155) 0%,rgb(0,255,219) 100%);background-image:-ms-linear-gradient(0deg,rgb(0,255,155) 0%,rgb(0,255,219) 100%);opacity:0.051;}
.home .project-page figure img{box-shadow: 0px 25px 45px 0px rgba(0, 255, 169, 0.12);}
.home .shadow-title{position:relative;font-size:4rem;text-align:center;color:#202825;line-height:1.6;}
.home .shadow-title:after{content:attr(data-label) '\a' attr(data-label2);white-space:pre;position:absolute;left:0;top:-40px;width:100%;color:#202825;opacity:0.05;font-size:5.8rem;text-align:center;line-height:1.3;}
.home .creative-work-ul li{position:relative;margin:10px 0;color:#202825;font-size:1.8rem;font-weight:500;padding-left:40px;}
.home .creative-work-ul li:before{content:'';position:absolute;left:0;top:5px;width:16px;height:16px;border-radius:100%;}
.home .creative-work-ul li.bullet-yellow:before{background:#ffbd2a;}
.home .creative-work-ul li.bullet-blue:before{background:#0e55d1;}
.home .creative-work-ul li.bullet-brown:before{background:#363732;}
.home .creative-work-ul li.bullet-green:before{background:#1eaa40;}

/* How Work */
.home .how-work{padding:100px 0;background:url('../../../assets/vediobg.png') no-repeat;background-position:center right;background-size: 450px;}
.home .how-work .embed-responsive{border-radius:16px;box-shadow:0px 25px 45px 0px rgba(0,255,169,0.12);}
.home .how-work .shadow-title:after{content:attr(data-label) '\a' attr(data-label2);white-space:pre;position:absolute;left:0;top:-30px;width:100%;color:#202825;opacity:0.05;font-size:4.8rem;text-align:center;line-height:1.4;}

/* Profile */
.home .profile{padding:100px 0;position:relative;}
.home .profile:after{content:'';position:absolute;left:0;top:0;height:100%;width:100%;background-image:-webkit-linear-gradient(bottom,rgb(0,255,155) 0%,rgb(0,255,219) 100%);background-image:-o-linear-gradient(bottom,rgb(0,255,155) 0%,rgb(0,255,219) 100%);background-image:linear-gradient(to top,rgb(0,255,155) 0%,rgb(0,255,219) 100%);opacity:0.051;}
.home .profile .content{text-align:center;margin-top:10px;}
.home .profile .content .title{font-size:3.4rem;margin-bottom:20px;color: #000;    font-family: 'Raleway',sans-serif;}
.home .profile .content p{font-size:1.8rem;color:#202825;line-height:1.4;}
.home .profile figure{margin-bottom: 50px;}
.home .profile figure img{box-shadow: 0px 25px 45px 0px rgba(0, 255, 169, 0.12);}

/* Create account */
.home .create-account{padding:60px 0;background:url('../../../assets/formbackground.png') no-repeat;background-size:cover;background-position:center;}
.home .create-account .form{width:880px;max-width:100%;margin:0 auto;padding:40px;border-radius:25px;border:5px solid #04f0b5;background-color:rgba(255,255,255,0.9);}
.home .create-account .form .title{font-size:4.8rem;color:#000000;text-align:center;position:relative;line-height:1;margin-bottom:40px;    font-family: 'Raleway',sans-serif;}
.home .create-account .form .title .border-bottom{position:absolute;background:#00ffda;width:150px;height:5px;bottom:-30px;left:50%;transform:translateX(-50%);}
.home .create-account .form .title .border-bottom:after{content:'';height:5px;width:10px;position:absolute;background:#00ff97;right:0;top:0;}
.home .create-account .form .title .border-bottom:before{content:'';height:5px;width:10px;position:absolute;background:#032c9e;right:10px;top:0;}
.home .create-account .form .form-group{width:400px;max-width:100%;margin:20px auto;clear:left;}
.home .create-account .form .form-group .form-control{padding:0;font-size:1.6rem;height:60px;line-height:60px;border:none;background:transparent;border-bottom:1px solid #000000;border-radius:0;transition:all 0.2s ease-out;-webkit-transition:all 0.2s ease-out; box-shadow: none;}
.home .create-account .form .form-group .form-control:focus,.home .create-account .form .form-group .form-control:active{border-bottom:1px solid #00ff9b;}
.home .create-account .form ::-webkit-input-placeholder{color:#000 !important;}
.home .create-account .form ::-moz-placeholder{color:#000 !important;} 
.home .create-account .form :-ms-input-placeholder{color:#000 !important;}
.home .create-account .form :-moz-placeholder{color:#000 !important;}
.home .btn-create{border:1px solid #737876;background:transparent;font-size:1.4rem;color:#000;height:60px;width:100%;padding:0;text-transform:uppercase;line-height:58px;margin-bottom:15px;}
.home .social-icon-ul{font-size:0;margin:20px 0;}
.home .social-icon-ul li{display:inline-block;font-size:0;width:50%;padding:0 7px;}
.home .social-icon-ul li a.btn{font-size:1.6rem;background:#ddd;display:block;padding:0 40px;height:50px;line-height:48px;border-radius:30px;position:relative;text-align:right;box-shadow:0px 10px 17px 0px rgba(0,0,0,0.25);}
.home .social-icon-ul li a.btn.btn-fb{background:#3c53c8;color:#fff;}
.home .social-icon-ul li a.btn.btn-google{background:#f44336;color:#fff;}
.home .social-icon-ul li a.btn .icon{height:40px;width:40px;position:absolute;background:#fff;left:4px;top:4px;border-radius:100%;}
.home .social-icon-ul li a.btn .icon:before{content:'';position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.home .social-icon-ul li a.btn .icon.icon-fb:before{background:url(../../../assets/fb.png) no-repeat;height:20px;width:11px;}
.home .social-icon-ul li a.btn .icon.icon-google:before{background:url(../../../assets/google.png) no-repeat;height:20px;width:19px;}
.home .create-account .logo{margin-top:50px;}
.home .create-account .logo img{margin:0 auto;display:table;}
.home .fancy-checkbox{margin:25px 0;width: 100%;}
.home .fancy-checkbox input[type="checkbox"] + span{display:block;cursor:pointer;position:relative;}
.home .fancy-checkbox input[type="checkbox"] + span i{display:inline-block;vertical-align:middle;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:6px;position:relative;bottom:1px;content:"";border:1px solid #3a3c3b;width:18px;height:18px;margin-right:5px;background:#aeb4b2;}
.home .fancy-checkbox input[type="checkbox"]{display:none;}
.home .fancy-checkbox input[type="checkbox"]:checked + span i:after{width:5px;height:10px;border:solid #000;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);display:block;position:relative;top:2px;left:5px;content:'';background-color:transparent;}
.home .fancy-checkbox + .home .fancy-checkbox{margin-left:30px;}
.home .connect-with-social .lbl{margin:0 auto !important;display:table;border-bottom:1px solid #000;margin-bottom:30px; padding: 0;}
.home .social-share-ul{font-size:0;margin:30px auto 0;display:table;}
.home .social-share-ul li{display:inline-block;vertical-align:middle;font-size:0;padding:0 15px;}
.home .social-share-ul li a{color:#00ff9b;font-size:20px;transition:all 0.5s;-webkit-transition:all 0.5s;}
.home .social-share-ul li a:hover,.home .social-share-ul li a:active,.home .social-share-ul li a:focus{color:#303030;}
.input-right-icon {transform: translateY(-50%); top: 50%;cursor: pointer; pointer-events:all!important;}
@media only screen and (max-width:1024px) and (min-width:992px){
	.home .header .navbar-brand:before{content:none;}
	.home .header .navbar-brand{max-width:150px;}
	.home .header .main-navigation>li>a{font-size:1.8rem;}
	.home .header .main-navigation .nav-item{padding:0 15px;}
	.home .header{padding:40px 0;}
	.home .banner{padding:50px 0;}
	.home .banner .category-ul{margin:30px 0;}
	.home .banner .category-ul li{margin:0 20px;}
	.home .banner .banner-title{font-size:3.4rem;margin-bottom:30px;}
	.home .shadow-title{font-size:3.4rem;}
	.home .shadow-title:after,.how-work .shadow-title:after{top:-20px;font-size:4.8rem;}
	.home .how-work .shadow-title:after{font-size:3.8rem;}
	.home .profile{padding:80px 0;}
	.home .profile .content .title{font-size:2.4rem;margin-bottom:15px;}
	.home .profile .content p{font-size:1.6rem;}
	.home .create-account{padding:50px 0;}
	.home .create-account .form{width:680px;}
	.home .create-account .form .title{font-size:4rem;}
	.home .safest-lbl{font-size:3rem;}
	.home .header .navbar-brand {
	    max-width: 150px;
	    padding: 25px 0;
	}
	.home .header {
	    padding: 10px 0;
	}
	.home .header .navbar-default:before{content: none;}

}
@media only screen and (max-width:991px) and (min-width:768px){
	.home .header{padding:20px 0;}
	.home .sign-up-container{text-align:center;width:100%;}
	.home .header .navbar-brand:before{content:none;}
	.home .banner{padding:40px 0;}
	.home .banner .category-ul li{margin:0 40px;}
	.home .banner .category-ul{margin:40px 0;text-align:center;}
	.home .banner .banner-title{font-size:3rem;margin-bottom:20px;}
	.home .collaborating-form{margin-bottom:30px;}	
	.home .shadow-title{font-size:3rem;}
	.home .project-page{padding:40px 0;}
	.home .how-work{padding:60px 0;}
	.home .how-work .embed-responsive{margin-top:20px;}
	.home .profile{padding:60px 0;}
	.home .profile .content .title{font-size:2.8rem;margin-bottom:10px;}
	.home .profile .content{margin-top:20px;}
	.home .header .navbar-default:before{content: none;}
	.navbar-default .navbar-brand{
		width: 130px;
    	padding: 0;
    	margin-left: 0 !important;
	}
	.home .header .main-navigation>li {
	    padding: 10px 15px;
	}
	.home .header .main-navigation>li>a {
	    font-size: 1.6rem;
	}
	.home .header .main-navigation,.home .sign-up-container{height: auto;}
	.home .header .btn-signin{margin: 0;}
	.home .sign-up-container{
		padding: 0;
		margin: 0;
	}
	.home .project-page{
		margin-top: 0;
	}
	.home .banner figure img{
		margin: 0 auto;
	}
	.home .align-self-center {
	    padding: 0px 0;
	}
	.home .shadow-title:after,.how-work .shadow-title:after{top:-20px;font-size:4rem;}
	

}
@media only screen and (max-width:767px) and (min-width:320px){
	.home .header .navbar-brand:before{content:none;}
	.home .header{padding:10px 0;}
	.home .header .navbar-brand{width:150px;}
	.home .header .btn-signin{margin:0 auto;}
	.home .header .main-navigation .nav-item{padding:0;}
	.home .banner{padding:30px 0;}
	.home .banner .banner-title{font-size:2.6rem;margin-bottom:20px;}
	.home .banner .category-ul{margin:20px 0;text-align:center;}
	.home .collaborating-form{margin-top:30px;margin-bottom:30px;}
	.home .banner .category-ul li{display:inline-block;margin:10px 20px;}
	.home .shadow-title:after,.how-work .shadow-title:after{content:none;}
	.home .shadow-title{font-size:2.4rem;}
	.home .shadow-title br{display:none;}
	.home .how-work{padding:50px 0;background-size:300px;}
	.home .project-page,.profile{padding:40px 0;}
	.home .how-work .embed-responsive{margin-top:15px;}
	.home .profile .content .title{font-size:2.4rem;margin-bottom:10px;}
	.home .profile .content p{font-size:1.6rem;}
	.home .profile .content{margin-top:20px;}
	.home .create-account{padding:40px 0;}
	.home .create-account .form{padding:20px;}
	.home .create-account .form .title{font-size:2.8rem;margin-bottom:30px;}
	.home .create-account .form .title .border-bottom{bottom:-20px;}
	.home .create-account .form .form-group{margin:10px auto;}
	.home .social-icon-ul li{margin-bottom:20px;width:100%;}
	.home .social-icon-ul li a.btn{text-align:center;}
	.home .create-account .logo{margin-top:20px;}
	.home .safest-lbl{font-size:2.6rem;}
	.home .sign-up-container{text-align:center;width:100%;}
	.home .header .navbar-default:before,
	.home .how-work .shadow-title:after{
		content: none;
	}
	.header .navbar-brand{
		padding: 5px 0;
	}
	.home .header .main-navigation{
		margin: 0;
		height: auto;
	}
	.sign-up-container{height: auto !important;}
	.home .header .main-navigation>li {
	    padding: 10px 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #00ffcb;
	}
	.navbar-default .navbar-toggle,
	.navbar-default .navbar-toggle:focus {
	    border-color: #222;
	    background: #222;
	}
}