.profile-body{
    background-image: url('../../../assets/pattern.png');
    padding: 20px;
    flex-grow: 1;
    display: flex;
    padding: 20px;
}

.main_content {    
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*.notification {
	font-size: 0.8em !important;
    line-height: 1.2em !important;
}              

.notification-info {
    background-color: #fff !important;
}

.notification:before {
    position: absolute !important;
    top: 50% !important;
    left: 15px !important;
    margin-top: -14px !important;
    width: 28px !important;
    height: 28px !important;
    background-image: url('../../../assets/logo.png') !important;
}

.notification-container {
    top: 50px !important;
    right: 25px !important;
}*/