.song-contribution {
	font-weight: 700px !important;
}

.user_audio_item {
	width: 100px;
	height: 200px;
}

.song-text {
	padding-top: 100px;
}

.profile-audios {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 0;
	position: absolute;
}

.play-pause {
	position: relative;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: white;
}

.play-pause-icon {
	color: #00F7C8;
	font-size: 20px;
	padding: 5px 8px;
}

.song_image {
	width: 170px;
	height: 170px;
}

.profile-details {
	display: inline-block;
	width: 200px;
}

.profile-details .jumbotron {
	background-color: #a9a99e;
	width: calc(100% - 30px);
	height: 250px !important;
	padding-left: 0 !important;
	padding-top: 0 !important;
	border-radius: 0 !important;
}

.jumbotron-custom {
	height: 110vh;
	width: 260px;
}

.profile-details .timeline {
	margin-left: 10px;
	background-color: #ddd;
	position: relative;
	width: calc(210px - 90px);
	height: 5px;
	cursor: pointer;
	z-index: 2;
}

.sidebar-details {	
	background: #efefef;
	padding: 20px 0;
	cursor: pointer;
}

.sidebar-details p {
	padding: 15px 10px;
    font-size: 0.9em;
    letter-spacing: 0.01em;
    font-weight: 600 !important;
    color: #707070 !important;
}

.sidebar-details p.active {
	border-left: solid 5px #5484f2;
    background: #c8d3ef;
    color: #5484f2 !important;
}

.profile-image {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-right: 10px;
}
.profile-tab-container{
	display: flex;	
	width: 100%;
}
.profile-tab-container .profile-left{
	width: 200px;
	background: #efefef;
	flex: none;
}
.profile-tab-container .profile-right{
	padding: 0 40px;
	flex: 1;
}
.profile-tab-container .profile-right .inner-scroll{
	max-height: 100%;
	min-height: 0;
	overflow: auto;
}
.lbl-user-name,.txt-username{
	display: inline-block;
	vertical-align: middle;
}
.txt-username{
	margin-left: 10px;
}
.disp-flex{
	display: flex;
	align-items: center;
}
.form-group.username .form-control{
	width: 200px;
	margin-left: 10px;
}
.form-group.upload-image .btn{
	margin-left: 10px;	
}
.profile-tab-container .profile-right .react-tag{
	max-width: 350px;
}
.profile-tab-container .profile-right .react-tag .react-tags {   
    border: 1px solid #ccc;   
    border-radius: 6px;
    padding: 6px 6px;
}
.profile-tab-container .profile-right .form-control{
	max-width: 350px;
}
.profile-tab-container .profile-right .react-tags__selected-tag{
	padding: 5px;
	font-size: 12px;
}
textarea.form-control{
	border-radius: 6px;
}
.profile-tab-container .profile-right .btn-change-pw{
	margin-top: 10px;
}
.password-msg{
	color : #4cae4c;
	align-content: center; 
}
