.login-page{
	background: #fff;
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.login-page .login-container{
	width: 1000px;
	height: 100%;
	display: flex;
	align-items: center;
}
.login-page .login-container>div{ flex:1;}
.login-page .login-container .logo img{ margin:0 auto; display: table;}

.login-signup-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 50px 0;
}
.login-signup-form .tab-option{
	display: flex;
	justify-content: space-between;
}
.login-signup-form .tab-option a{
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #222222;
	padding: 8px 15px;
	border-bottom: 4px solid transparent; 
	text-transform: uppercase;
}
.login-signup-form .tab-option a.active{
	border-bottom: 4px solid #2af9c6;
}
.login-signup-form .tab-content{
	padding: 30px 0;
	height: auto;
}
.login-signup-form .form-group{
	margin-bottom: 30px;
}
.tab-content .form-container{
	width: 100%;
	padding-right: 20px;
}
.login-signup-form .forgot-content{
	padding: 30px 0;
}
.login-signup-form .forgot-content .note-p{
	font-size: 14px;
	color: #222222;
	font-weight: 500;
	margin-bottom: 30px !important;
}
.login-signup-form .custom-lbl{
	font-size: 14px;
	font-weight: 500;
	color: #222222;
	margin-bottom: 5px;
}
.login-signup-form .form-control{
	border-color: #dfdfdf;
	border-radius: 6px;
	box-shadow: 0.366px 2.978px 8px 0px rgba(92, 92, 92, 0.15);
	height: 38px;
}
.login-signup-form .button-container{
	display: flex;
	justify-content: space-between;
    align-items: center;
}
.login-signup-form .btn-theme{
	border-radius: 6px;
	padding: 8px 15px;
	background-color: rgb(42, 249, 198);
	box-shadow: 0.366px 2.978px 8px 0px rgba(92, 92, 92, 0.15);
	height: auto;
	min-width: 120px;
	font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.login-signup-form .btn-theme.width-200{
	max-width: 200px;
}
.login-signup-form .btn-theme:hover,
.login-signup-form .btn-theme:focus,
.login-signup-form .btn-theme:active{
	border-color: rgb(42, 249, 198);
	background-color: rgb(42, 249, 198);
}
.varified-container{	
	text-align: center;
}
.varified-container .title{
	font-size: 18px;
	font-weight: 600;
	margin: 40px 0 15px;
	color: #383838;
}
.varified-container .subtitle{
	font-size: 16px;
	font-weight: 500;
	color: #656565;
}

.coupon-code-container{
	display: flex;
}

.coupon-code-container .btn-apply{
	background: #000;
	color: #fff;
	min-width: 120px;
	margin-left: 10px;
	font-weight: 500;
}

.login-page .login-container .plan-card{
	margin: 0 auto;
	background: #227aa3;
	width: 240px;
	padding: 50px 16px;
	color: #fff;
	text-align: center;
}
.login-page .login-container .plan-card .plan-name{
	font-size: 20px;
	font-weight: 600;	
	margin-bottom: 15px;
}
.login-page .login-container .plan-card .plan-desc{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}
.login-page .login-container .plan-card .plan-price{
	margin: 30px 0 20px 0 !important;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.login-page .login-container .plan-card .plan-price small{
	font-size: 50%;
	font-weight: 500;
    color: #fff;
}
.login-page .login-container .plan-card ul li{
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid #3a88ad;
}
.fancy-checkbox{margin:10px 0 25px;font-size: 14px;float: left;}
.fancy-checkbox input[type="checkbox"] + span{display:flex;cursor:pointer;position:relative; align-items: flex-start;}
.fancy-checkbox input[type="checkbox"] + span p { flex: 1; padding-left: 5px; font-size: 14px; font-weight: 500; } 
.fancy-checkbox input[type="checkbox"] + span i{display:inline-block;vertical-align:middle;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:6px;position:relative;bottom:1px;content:"";border:1px solid #a3a8ad; flex-basis: 18px; width:18px;height:18px;margin-right:3px; margin-top:3px;background:transparent;}
.fancy-checkbox input[type="checkbox"]{display:none;}
.fancy-checkbox input[type="checkbox"]:checked + span i:after{width:5px;height:10px;border:solid #000;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);display:block;position:relative;top:2px;left:5px;content:'';background-color:transparent;}
.fancy-checkbox + .fancy-checkbox{margin-left:30px;}

@media only screen and (max-width: 992px) {
	.login-page .login-container{
		width: 100%;
    	flex-wrap: wrap;
	}
	.login-page .login-container {
	    width: 800px;
	}
	.login-page .login-container>div{
		flex: 0 0 100%;
	}
	.login-page .login-container .logo{
		padding: 30px 0;
	}
	.login-page .login-container .logo img{
		width: 150px;
	}
	.login-signup-form{
		padding: 0 20px;
	}
}


@media only screen and (max-width: 767px) {

}
/*.loginpage-container {
	background-image: url('../../../assets/loginbg.jpg');
	width: 100%;
	min-height: 100vh;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.loginpage-container .card {
	position: relative;
	text-align: center;
	border-radius: 25px;	
	background: #fff;
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
	width: 872px;	
	max-width: 100%;
	padding: 40px 250px;
	
}
.loginpage-container .card:before {
	content: '';	
	left: 10%;
	bottom: -40px;
	width: 80%;
	height: 100%;
	border-radius: 23px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
	position: absolute;
	z-index: -1;
}
.loginpage-container .card:after {
	content: '';
	left: 5%;
	bottom: -20px;
	width: 90%;
	height: 100%;
	border-radius: 23px;
	background-color: rgb(255, 255, 255);
	opacity: 0.502;
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.15);
	position: absolute;
	z-index: -1;
}
.loginpage-container .card .logo{
	margin-bottom: 30px;
}
.loginpage-container .form .form-group {    
    max-width: 100%;
    margin: 15px auto;
    clear: left;
    float: left;
    width: 100%;
}
.loginpage-container .form-control{
	padding: 0;
    font-size: 1.6rem;
    height: 60px;
    line-height: 60px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    border-radius: 0;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    box-shadow: none;
}
.loginpage-container .form-control:active,
.loginpage-container .form-control:focus {
    border-bottom: 1px solid #00ff9b;
}
.loginpage-container .form ::-webkit-input-placeholder{color:#000 !important;text-transform: uppercase;}
.loginpage-container .form ::-moz-placeholder{color:#000 !important;text-transform: uppercase;}
.loginpage-container .form :-ms-input-placeholder{color:#000 !important;text-transform: uppercase;}
.loginpage-container .form :-moz-placeholder{color:#000 !important;text-transform: uppercase;}
.loginpage-container .form .btn {
    border-radius: 0;
    border: 1px solid #7f7f7f;
    background: transparent;
    font-size: 14px;
    color: #000;
    height: 60px;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    line-height: 58px;
    margin-bottom: 15px;
    opacity: 1;
}
.forgot-link{margin:10px 0 25px;font-size: 14px;float: right;}
.fancy-checkbox{margin:10px 0 25px;font-size: 14px;float: left;}
.fancy-checkbox input[type="checkbox"] + span{display:block;cursor:pointer;position:relative;}
.fancy-checkbox input[type="checkbox"] + span i{display:inline-block;vertical-align:middle;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:6px;position:relative;bottom:1px;content:"";border:1px solid #3a3c3b;width:18px;height:18px;margin-right:5px;background:#aeb4b2;}
.fancy-checkbox input[type="checkbox"]{display:none;}
.fancy-checkbox input[type="checkbox"]:checked + span i:after{width:5px;height:10px;border:solid #000;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);display:block;position:relative;top:2px;left:5px;content:'';background-color:transparent;}
.fancy-checkbox + .fancy-checkbox{margin-left:30px;}


@media only screen and (min-width: 1400px) {
	.loginpage-container .card {
		padding: 80px 250px;
	}
	.loginpage-container .card .logo{
		margin-bottom: 60px;
	}
}
@media only screen and (max-width: 900px) {
	.loginpage-container .card {	
		max-width: 96%;
		padding: 30px 20px;
	}
	.forgot-link{
		display: block;
    	width: 100%;
	}
	.loginpage-container .card .logo {
	    margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.loginpage-container .card:before,
	.loginpage-container .card:after{
		content: none;
	}
}
*/